.gradient {
  width: 100%;
  height: 30vh;
  min-height: 150px;
  background: var(--gradient);
  &:hover,
  &:has(.copy.active) {
    .copy {
      opacity: 1;
    }
  }
}
.copy {
  cursor: pointer;
  user-select: none;
  width: min(100%, 350px);
  opacity: 0;
  transition: opacity var(--time);
  background-color: var(--white-600);
  .gradient-code {
    transition: var(--time);
    position: relative;
    &::before {
      transition: var(--time);
      content: "Copied";
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      color: transparent;
    }
  }
  &:hover {
    .gradient-code {
      scale: 1.02;
    }
  }
  &:active {
    .gradient-code {
      scale: 1;
    }
  }
  &.active {
    .gradient-code {
      color: transparent;
      &::before {
        color: var(--black);
      }
    }
  }
}
